@font-face {
    font-family: 'Ubuntu-bold';
    src: url('../assets/fonts/Ununtu/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'Ubuntu-light';
    src: url('../assets/fonts/Ununtu/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'UniNeueBlack';
    src: url('../assets/fonts/UniNeue/UniNeueBlack.ttf');
}

@font-face {
    font-family: 'Ubuntu-medium';
    src: url('../assets/fonts/Ununtu/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'UniNeueRegularBook';
    src: url('../assets/fonts/UniNeue/UniNeueBold.ttf');
}

@font-face {
    font-family: 'UniNeueHeavyRegular';
    src: url('../assets/fonts/UniNeue/UniNeueHeavy.ttf');
}

@font-face {
    font-family: 'UniNeueBoldRegular';
    src: url('../assets/fonts/UniNeue/UniNeueBold.ttf');
}