@mixin showelement {
    opacity: 0;
    animation: showup;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-play-state: paused;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@mixin half_underline($color:#4a4a4a) {
    content: '';
    position: absolute;
    width: 47%;
    height: 2px;
    left: 50%;
    bottom: -5px;
    background-color: $color;
    transform: translateX(-50%);
}

@keyframes showup{
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}